@model EntityLayer.Entities.RoomType

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h1 class="bg-success text-white text-center border my-5 shadow">Edit</h1>

<div class="row">
    <div class="col-md-6 offset-md-3 border p-3 shadow">
        <form asp-action="Edit" asp-controller="RoomType" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group row">
                <input type="hidden" asp-for="RoomTypeId" />
                <label for="RoomName" class="col-4 col-form-label">Room Type</label>
                <div class="col-8">
                    <input id="RoomName" asp-for="RoomName" type="text" class="form-control border shadow" />
                    <span asp-validation-for="RoomName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mt-3">
                <label for="RoomPrice" class="col-4 col-form-label">Room Price</label>
                <div class="col-8">
                    <input id="RoomPrice" asp-for="RoomPrice" type="number" class="form-control border shadow" />
                    <span asp-validation-for="RoomPrice" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label asp-for="RoomCount" class="col-4 col-form-label">Room Count</label>
                <div class="col-8">
                    <input asp-for="RoomCount" type="number" step="0.01" class="form-control border shadow" />
                    <span asp-validation-for="RoomPrice" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mt-4">
                <div class="offset-4 col-8">
                    <button type="submit" class="btn btn-primary">Edit</button>
                </div>
            </div>
        </form>
    </div>
</div>
